body {
    max-width:55em;
}
a:link { color:#4444aa; }
a:visited {color:#4444aa;}
a:hover {background-color:#aaaaFF;}

.sidenote {
    right:0;
    top: auto;

    display: block;
    float: right;
    width: 200px;
    margin: 2px;
    margin-right: -300px;
    padding: 3px;

    font-size: 1em;
    opacity: 0.5;
    /*margin-top: 10px;*/
    /*margin-bottom: 10px;*/
    /*margin-left: 50px;*/
    padding-left: 15px;
    border-left: 3px solid #ccc;

}

.sidenote:hover {
    opacity: 1.0;
}

.titleblock {
    text-align: center;
}
